# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


# ignore output plots
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi


# Portable Network Graphics
*.png


# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf


